*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    background-color: mintcream;
}

.container{
    background-color: lightsteelblue;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.header{
 background-color: mintcream;
 color: black;
 font-size: 20px;
 font-style: italic;
 font-family: cursive;
 padding: 5px;
 margin: 5px;
 flex-basis: 25%;
 justify-content: center;
 text-align: center;
}

/*Category Bar*/
.container3{
    background-color: lightcoral;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;

}

.category{
    background-color: mintcream;
    color: black;
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    padding: 10x;
    margin: 10px;
    flex-basis: 25%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
   }

/* SideBar Nav*/
.container2{
    background-color: lightseagreen;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
  }

.sidebar{
    background-color: mintcream;
    color: black;
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    padding: 10x;
    margin: 10px;
    flex-basis: 25%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

