*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: blanchedalmond;
    padding: 10px;
    margin: 65px;
    display: flex;
    justify-content: center;
}

.item{
 background-color: rgb(199, 79, 79);
 color:#fff
 font-size 150px;
 padding: 20px;
 margin: 100;
}