*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: slategray;
    padding: 10px;
    margin: 65px;
    display: flex;
    justify-content: center;
}

.item{
 background-color: ghostwhite;
 color:#fff
 font-size 150px;
 font-style: italic;
 font-family: cursive;
 padding: 20px;
 margin: 100;
 flex-basis: 25%;
 justify-content: center;
 text-align: center;
}